body {
    margin: auto;
    max-width: 80em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #B7B7B7;
}

textarea {
    background-color: aliceblue;
}

.error {
    color: red;
}