<p>Olet kirjautunut nimellä {{ session.username }}</p>

Viestien määrä: {{ count }}
<hr>
{% for message in messages %}
<i>Viesti:</i> {{ message[0] }}
<p>
<i>Lähettäjä:</i> {{ message[1] }}
<p>
<i>Aika:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
<p>
{% if message[1] == session.username %}
    <form action="/remove_message" method="POST">
        <input type="hidden" value="{{ message[3] }}" name="remove"/>
    <button type="submit">Poista viesti</button>
    </form>
{% endif %}
<hr>
{% endfor %}

<form action="/send_message" method="post">
    Viesti: <br>
    <textarea name="content" rows="3" cols="40"></textarea>
    <br>
    <input type="submit" value="Lähetä">
    </form>
